.email-editor{
    height: 40px;
    width: 40vw;    
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
}
.text-helper{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-small;
    color: red;
}
.section-form{
    padding-bottom: 150px;
}